</head>
<body>
  <nav>
		<i class="flights-nav"></i>  
    <a 
      href="/flights/new" <%- title === 'ADD FLIGHT' ? 'class="active"' : '' %>
    >ADD A FLIGHT</a>
    <a 
      href="/flights" <%- title === 'ALL FLIGHTS' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
  </nav>